Django==3.2.25
gunicorn
h5py
joblib
matplotlib
mtcnn
numpy==1.23.5
opencv-contrib-python-headless
pandas
Pillow
PyMySQL
scikit-learn
scipy
seaborn
six
tensorflow==2.12.0
Werkzeug
whitenoise
PyYAML
grpcio
Markdown
protobuf