Django==2.1.7
gunicorn==20.1.0
h5py==3.7.0
joblib
matplotlib
mtcnn==0.1.0
numpy==1.21.6
opencv-contrib-python-headless==4.8.0.76
pandas
Pillow
PyMySQL==0.9.3
scikit-learn
scipy
seaborn
six
tensorflow-cpu==2.11.0
Werkzeug
whitenoise==6.5.0
PyYAML
grpcio
Markdown
protobuf==3.20.0